### Data cleaning
Nhi Le Thi
#### Topic 4: Data cleaning with handle missing values
#### What does the topic 4 have?
    + Delete columns 
    + Drop duplicates
    + Data types inconsistencies
    + Handle missing categories values
    + Handle missing continuous values
    + KNN for missing value imputation
    + MICE or Multiple imputation by Chained Equation
    + Imputation ffill/ bfill

Load library, dataset and first rows

In [2]:
import numpy as np
import pandas as pd

In [3]:
df =pd.read_csv('unclean_data.csv', encoding= 'latin1')

In [4]:
df.head()

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN

In [5]:
df.isnull().sum()

movie_title                  0
num_critic_for_reviews       0
duration                     3
DIRECTOR_facebook_likes      2
actor_3_facebook_likes       0
ACTOR_1_facebook_likes       0
gross                        0
num_voted_users              1
Cast_Total_facebook_likes    2
facenumber_in_poster         5
num_user_for_reviews         0
budget                       0
title_year                   0
ACTOR_2_facebook_likes       1
imdb_score                   0
title_year.1                 7
dtype: int64

In [6]:
count_missing = df.isnull().sum().sum()

In [7]:
count_values = np.product(df.shape)

In [8]:
# percentage missing value
percent_missing = (count_missing/count_values)*100
print('The percentage missing values is:', percent_missing, '%')

The percentage missing values is: 9.375 %

If the column has over 60% missing value, we could delete that column. However, be careful!

Drop duplicates
+ drop_duplicates()
+ keep = 'first'

In [9]:
df.head(4)

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN

In [24]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
dtype: bool

In [25]:
df.duplicated().sum()

0

In [27]:
df.duplicated('movie_title')

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9     False
10    False
11    False
12    False
13    False
dtype: bool

In [28]:
df.shape

(14, 16)

In [29]:
df_drop_movie_duplicate = df.drop_duplicates('movie_title')

In [30]:
df_drop_movie_duplicate.shape

(13, 16)

Data types inconsistencies
+ change datatype after reading the csv
+ change datatype before reading the csv

In [39]:
# change datatype before reading
df1 = pd.read_csv('unclean_data.csv', dtype= {'duration': float}, encoding = 'latin1')

In [38]:
df1.duration.dtype

dtype('float64')

In [40]:
# change datatype after reading
df.dtypes

movie_title                   object
num_critic_for_reviews         int64
duration                     float64
DIRECTOR_facebook_likes       object
actor_3_facebook_likes         int64
ACTOR_1_facebook_likes         int64
gross                          int64
num_voted_users              float64
Cast_Total_facebook_likes    float64
facenumber_in_poster         float64
num_user_for_reviews           int64
budget                         int64
title_year                     int64
ACTOR_2_facebook_likes       float64
imdb_score                   float64
title_year.1                 float64
dtype: object

In [42]:
df.DIRECTOR_facebook_likes.dtypes

dtype('O')

In [43]:
df.DIRECTOR_facebook_likes.astype(float)

ValueError: could not convert string to float: '"475"'

In [48]:
df.DIRECTOR_facebook_likes.str.contains('"475"')

0     False
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9     False
10      NaN
11      NaN
12    False
13    False
Name: DIRECTOR_facebook_likes, dtype: object

In [51]:
df.DIRECTOR_facebook_likes[4] = df.DIRECTOR_facebook_likes[4].replace('"', '')

C:\Users\Admin\AppData\Local\Temp/ipykernel_10968/3535589470.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.DIRECTOR_facebook_likes[4] = df.DIRECTOR_facebook_likes[4].replace('"', '')

In [52]:
df.DIRECTOR_facebook_likes.astype(float).dtypes

dtype('float64')

Handle missing continuous values

In [10]:
df.head(4)

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN

In [11]:
df.dtypes

movie_title                   object
num_critic_for_reviews         int64
duration                     float64
DIRECTOR_facebook_likes       object
actor_3_facebook_likes         int64
ACTOR_1_facebook_likes         int64
gross                          int64
num_voted_users              float64
Cast_Total_facebook_likes    float64
facenumber_in_poster         float64
num_user_for_reviews           int64
budget                         int64
title_year                     int64
ACTOR_2_facebook_likes       float64
imdb_score                   float64
title_year.1                 float64
dtype: object

In [12]:
df.shape

(14, 16)

Mean/ mode/ median()

In [13]:
df.duration

0     178.0
1       NaN
2     148.0
3       NaN
4     132.0
5     156.0
6       NaN
7     141.0
8     141.0
9     153.0
10    183.0
11    169.0
12    106.0
13    151.0
Name: duration, dtype: float64

In [14]:
df.duration.mean()

150.72727272727272

In [15]:
df_mean= df.duration.fillna( df.duration.mean())

In [16]:
df_mean

0     178.000000
1     150.727273
2     148.000000
3     150.727273
4     132.000000
5     156.000000
6     150.727273
7     141.000000
8     141.000000
9     153.000000
10    183.000000
11    169.000000
12    106.000000
13    151.000000
Name: duration, dtype: float64

Linear regression

In [17]:
# split data
test = df[df['duration'].isna()]
train = df.dropna()

In [18]:
test.shape

(3, 16)

In [19]:
train.shape

(4, 16)

In [20]:
# prepare data
x_train = train.drop(['duration'], axis= 1)
y_train = train['duration']
x_test = test.drop(['duration'], axis =1)

In [21]:
# # model
# from sklearn.linear_model import LinearRegression
# linear = LinearRegression()
# linear.fit(x_train, y_train)

# # predict 
# y_predict = linear.predict(x_test)
# df.loc[df.duration.isnull(), 'duration'] = y_predcit

KNN for missing value imputation

In [22]:
df['duration'].fillna(method ='ffill')

0     178.0
1     178.0
2     148.0
3     148.0
4     132.0
5     156.0
6     156.0
7     141.0
8     141.0
9     153.0
10    183.0
11    169.0
12    106.0
13    151.0
Name: duration, dtype: float64

In [23]:
df['duration'].fillna(method ='bfill')

0     178.0
1     148.0
2     148.0
3     132.0
4     132.0
5     156.0
6     141.0
7     141.0
8     141.0
9     153.0
10    183.0
11    169.0
12    106.0
13    151.0
Name: duration, dtype: float64